**/.vscode
.development
**/logs
**/*.log
docs/html/
**/src/utility/index_sequence.h
**/.venv
**/rcc
!cli_gen_tool/res/uic
cli_gen_tool/res/uic/*
!cli_gen_tool/res/uic/mainWindow.py
!cli_gen_tool/res/uic/commandParametersDialog.py
!cli_gen_tool/res/uic/logHistoryDialog.py
!cli_gen_tool/res/uic/preferencesDialog.py
!cli_gen_tool/res/uic/__init__.py
**/cli_gen_tool.json
**/test.json
**/__pycache__
