# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: WebKit
AlignTrailingComments: true
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
IndentPPDirectives: BeforeHash
BreakBeforeBinaryOperators: NonAssignment
DerivePointerAlignment: false
PointerAlignment: Left
...
